* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    text-align: center;
}

/*-- LANDING PAGE STYLING --*/
#hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/r5vyYNbKmjmaptcvd/videoblocks-three-red-dice-rolling-on-green-game-gambling-table-on-black-background-shooting-with-slow-motion-concept-of-sport-recreation-leisure-game-in-the_rr-8j3rxe_thumbnail-full04.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#hero .site-content {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#hero .content1 {
    flex: 1;
}

#hero .site-content img {
    padding: 0.3em;
    width: 350px;
    height: auto;
}

#hero .site-content h1 {
    font-size: 4em;
    font-weight: 800;
}

#hero .site-content h4 {
    font-size: 25px;
    font-weight: 800;
}

#hero .site-content h4::after {
    content: "";
    background: #fff;
    display: block;
    height: 4px;
    width: 65%;
    margin: 35px auto 15px;
}

#hero .content2 {
    flex: 1;
}

#hero .position {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.9;
    color: #fff;
    background-color: #920000;
    border-radius: 16px;
}

.button__text {
    display: block;
    padding: 0.5em 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.button__text:before {
    content: attr(title);
}

.button__text--bis {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
    opacity: 0;
}

.button__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: translateX(-100%) rotate(45deg);
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.button:hover {
    opacity: 1;
}

.button:hover .button__text {
    -webkit-animation: fx-text 0.3s ease-out;
    animation: fx-text 0.3s ease-out;
}

.button:hover .button__text--bis {
    -webkit-animation: fx-text-bis 0.3s ease-out;
    animation: fx-text-bis 0.3s ease-out;
}

.button:hover .button__mask {
    -webkit-animation: fx-mask 0.3s ease-out;
    animation: fx-mask 0.3s ease-out;
}

.button:active {
    opacity: 1;
    background: white;
    color: inherit;
}

@-webkit-keyframes fx-mask {
    0% {
        -webkit-transform: translateX(-100%) rotate(45deg);
        transform: translateX(-100%) rotate(45deg);
    }

    100% {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
    }
}

@keyframes fx-mask {
    0% {
        -webkit-transform: translateX(-100%) rotate(45deg);
        transform: translateX(-100%) rotate(45deg);
    }

    100% {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
    }
}

@-webkit-keyframes fx-text {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1em);
        transform: translateX(1em);
        opacity: 0;
    }
}

@keyframes fx-text {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1em);
        transform: translateX(1em);
        opacity: 0;
    }
}

@-webkit-keyframes fx-text-bis {
    0% {
        -webkit-transform: translateX(-1em);
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fx-text-bis {
    0% {
        -webkit-transform: translateX(-1em);
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@media only screen and (max-width: 600px) {
    #hero .site-content img {
        padding: 0.3em;
        width: 180px;
        height: auto;
    }

    #hero .site-content h1 {
        font-size: 2em;
        font-weight: 800;
    }

    #hero .site-content h4 {
        font-size: 1em;
        font-weight: 800;
    }

    .button__text {
        padding: 0.25em 1em;
        font-size: 1em;
    }
}