#mode {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(https://ak3.picdn.net/shutterstock/videos/3352403/thumb/2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.page-content {
    height: 100vh;
    display: grid;
    grid-template-areas: 'myArea myArea'
        'contents2 contents3'
        'contents4 contents4';
    grid-gap: 10px;
    align-content: center;
}

#mode .page-content {
    height: 100vh;
}

#mode .contents1 {
    grid-area: myArea;
}

#mode .page-content .contents1 img {
    padding: 0.3em;
    height: 150px;
    width: auto;
    border-radius: 20px;
}

#mode .contents2 {
    grid-area: contents2;
    margin: 0 auto;
}

#mode .contents3 {
    grid-area: contents3;
    margin: 0 auto;
}

#mode .contents4 {
    grid-area: contents4;
    margin: 0 auto;
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    max-width: 600px;
    color: #fff
}


.img-card {
    width: 100%;
    height: 180px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    margin: 0 auto;
    padding: 5px;
    width: 70%;
    height: 100%;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 600;
    font-size: 1.1em;
}

h4::after {
    content: '';
    background: #ccc;
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px auto 5px;
    text-align: left;
}

.card-content h5 {
    font-weight: 400;
    color: #ccc;
    font-size: 1em;
}

.card-content h5 span {
    font-weight: 600;
    color: #fff;
}

.card-action {
    border-top: 16px solid #D4D4D4;
}

.button2 {

    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.9;
    color: #ddd;
    background-color: #920000;
}

.button2:hover {
    opacity: 1;
    color: #fff;
    background-color: #630303;
    border-radius: 25px;
    transition-duration: 0.5s
}

.button__text {
    display: block;
    padding: 1em 1em;
    font-weight: 600;
    font-size: 1.2em;
}


.active {
    box-shadow: 0 8px 17px 0 rgba(255, 136, 0, 0.712), 0 6px 20px 0 rgba(255, 196, 0, 0.404);
}




@media only screen and (max-width: 600px) {
    .card-title {
        margin-top: 0px;
        font-weight: 700;
        font-size: 1.2em;
    }

    .card-content h5 {
        font-size: 0.9em;
        font-weight: 400;
    }

    .img-card {
        width: 100%;
        height: 125px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        display: block;
        overflow: hidden;
    }

    #mode .page-content .contents1 img {
        padding: 0.3em;
        height: 100px;
        width: auto;
        border-radius: 20px;
    }
}